.header{
	text-align: center;
	padding-top: 80px;
	font-size: 3em;
	position: relative;
	max-height: 250px
}

.header h1{
	font-family: 'La Belle Aurore', cursive;
	margin-bottom: 0px;
}

.header h2{
	font-family: 'Karla', sans serif;
	font-style: italic;
	font-size: 0.75em;
	color: grey;
	position: relative;
	top: -2.7em;
	left: 2.7em;
}

.input{
	font-size: 1.5em;
	text-align: center;
}
#iteminput{
	min-height: 1.5em;
	width: 70%;
	padding: 10px;
	padding-left: 20px;
	margin: auto;
}

.shoppinglist{
	font-family: 'Handlee', cursive;
}

#nolist{
	text-align: center;
	margin-top: 20px;
	font-size: 2em;
	color: red;
}

.shoppinglist ul{
	padding: 0 20px;
}

.shoppinglist-item-container{
	display: block;
	margin: 0 10%;
	padding: 0 10px;
}

.shoppinglist-item{
	position: relative;
	vertical-align: middle;
}
.shoppinglist-item li{
	display: inline-block;
}

.shoppinglist-item .ghost{
	display: inline-block;
	height: 100%!important;
	vertical-align: middle;
	width: 2px;
}

.shoppinglist-item-left{
	position: absolute;
	left: 0;
	vertical-align: middle;
	height: 100%;
}

.shoppinglist-item-right {
	position: absolute;
	right: 0;
	vertical-align: middle;
	height: 100%;
}

.shoppinglist-item-left .fa, .shoppinglist-item-right .fa {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.shoppinglist-item-content {
	padding: 20px;
}

.shoppinglist-item-name {
	font-weight: bold;
	font-size: 1.5em;
}

.incomplete .shoppinglist-item-name{
	text-decoration: none;
}

.complete .shoppinglist-item-name{
	text-decoration: line-through;
}

.shoppinglist-item-right .fa:hover{
	cursor: pointer;
}

.shoppinglist-item-left .fa:hover{
	cursor: pointer;
}
